.mainArea {
    text-align: center;
    width: 90%;
    height: 90%;
    border: 3px solid rgb(35, 134, 233);
    padding: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* align-content: stretch; */
    /* align-content: space-between; */
}

.closeButton {
    padding: 10px;
    /* margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90%; */
    float: right;
}

.rich-text {
    font-size: 20;
    width: 100%;
}

.rich-text strong {
    /* font-size: 20; */
    font-weight: bold;
}