/* @import '~antd/dist/antd.css'; */
/* @import '~antd/es/style/themes/default.less';
@import '~antd/dist/antd.less'; */

/* @radio-border-width: 5px; */
/* @import '~antd/dist/antd.css'; */
@import 'antd/dist/antd.min.css';

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.box {
  padding: 5px;
}